@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background: #13072e;
}

h1,h2,h3,h4,a,p{
  color: white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

/*light button*/

